:root{
    /* Colors */
    /* Primary */

--Purple-50: hsl(260, 100%, 95%);
--Purple-300: hsl(264, 82%, 80%);
--Purple-500: hsl(263, 55%, 52%);

    /* Neutral */

--White: hsl(0, 0%, 100%);
--Grey-100: hsl(214, 17%, 92%);
--Grey-200: hsl(0, 0%, 81%);
--Grey-400: hsl(224, 10%, 45%);
--Grey-500: hsl(217, 19%, 35%);
--Dark-blue: hsl(219, 29%, 14%);
--Black: hsl(0, 0%, 7%);

--Font-size: 13px;

--font-family: "Barlow Semi Condensed", sans-serif;

/* Layout size*/

--Mobile: 375px;
--Desktop: 1440px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-family);
    background-color: var(--Purple-50);
    margin: 20px 5%;
}


.testimonials{
    display: grid;
    gap: 20px;
    grid-template-areas:
    "box1"
    "box2"
    "box3"
    "box4"
    "box5"
    ;
}

.box{
    padding: 40px 30px;
    border-radius: 10px;
}

.box1{
    grid-area: box1;
    background-color: var(--Purple-500);
    color: white;
    position: relative;
    z-index: 9999;
}
.box2{
    grid-area: box2;
    background-color: var(--Grey-500);
    color: white;
}
.box3{
    grid-area: box3;
    background-color: var(--White);
    color: black;
}
.box4{
    grid-area: box4;
    background-color: var(--Dark-blue);
    color: white;
}
.box5{
    grid-area: box5;
    background-color: var(--White);
}

.user-info{
    display: flex;
    gap: 15px;
    align-items: center;
}

.userImg{
    height: 50px;
    width: 50px;
    overflow: none;
}

.userImg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--Grey-200);
}

.userDetails h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4px;
}

.userDetails p{
    font-size: 0.75rem;
    font-weight: 300;
}

.user-content{
    margin-top: 20px;
}

.user-content h2{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
    z-index: 9999;
}

.user-content p{
    margin-top: 20px;
    font-size: 1rem;
    color: var(--Grey-100);
    line-height: 1.3;
}

.box3 p, .box5 p{
    color: black;
}

.quote{
    display: none;
}

@media (min-width: 1024px) {

  .testimonials {
    grid-template-areas:
      "box1 box1 box2 box5"
      "box3 box4 box4 box5"
  }

  .quote{
    display: block;
    position: absolute;
    top: 0;
    right: 5rem;
    z-index: 0;
}

.quote img{
    transform: scale(1.3) translateY(12px);
}

.boxWidth300{
    max-width: 280px;
}

}



.attribution { 
    margin-top: 50px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}